<% for (var i=0; i<id.length; i++) { %>
<div id="dl-<%= id[i] %>">
  <button id="btn-<%= id[i] %>"><%= title %></button>
</div>
<% } %>
<script>
<% for (var i=0; i<id.length; i++) { %>
$('#btn-<%= id[i] %>').click(function(e){
  if (download === undefined) {
    alert('找不到 download 函数')
  } else {
    download('<%= id[i] %>')
  }
})
<% } %>
</script>