
<a id="gotop" href="#">
  <span>▲</span>
</a>

<%- js(['js/jquery.imagesloaded.min.js', 'js/gallery.js', 'js/bootstrap.min.js', 'js/main.js']) %>

<% if (theme.search.local) { %>
<script src="<%- config.root %>js/search.js"></script>
<script>
var search_path = "<%= config.search.path %>";
if (search_path.length == 0) {
	search_path = "search.xml";
}
var path = "<%= config.root %>" + search_path;
searchFunc(path, 'local-search-input', 'local-search-result');
</script>
<% } else if (theme.search.bing) { %>
<script>
  var bing = $('#bing_search_form')
  var input = $('#bing_search_input')
  var prefix = 'site:blog.zengrong.net '
  bing.submit(function(e) {
    var q = input.val()
    if (q.indexOf(prefix) === -1) {
      input.val(prefix + q)
    }
  })
  input.click(function(e){
    if (input.val().indexOf(prefix) === 0) {
      input.val('')
    }
  })
</script>
<% } else if (theme.search.swiftype) { %>
  <script type="text/javascript">
  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
    (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
    e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

  _st('install', '<%= theme.search.swiftype %>','2.0.0');
  </script>
<% } else if(theme.search.baidu) { %>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<% } else if(theme.search.qihoo) { %>
<script>
(function(){
   var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?229e04cf483b1a5bb60d4acf0ada1657":"https://jspassport.ssl.qhimg.com/11.0.1.js?229e04cf483b1a5bb60d4acf0ada1657";
   document.write('<script src="' + src + '" id="sozz"><\/script>');
})();
</script>
<% } %>

<% if (theme.fancybox){ %>
<link rel="stylesheet" href="<%- config.root %>fancybox/jquery.fancybox.css" media="screen" type="text/css">
<script src="<%- config.root %>fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
(function($){
  $('.fancybox').fancybox();
})(jQuery);
</script>
<% } %>
